language: node_js
node_js:
  - 16
sudo: required
services:
  - docker

before_install:
  - docker build -t akumar33/docker-react -f Dockerfile.dev .

script:
  - docker run akumar33/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "eu-west-1"
  app: "docker-react"
  env: "Docker-react-env"
  bucket_name: "elasticbeanstalk-eu-west-1-332338351517"
  bucket_path: "docker-react"
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"